@mixin gridBorder($position, $gap, $color) {
    position: relative;

    &:after {
        content: '';
        background-color: $color;
        width: 100%;
        height: 1px;
        display: block;
        position: absolute;
        @if $position == 'bottom' {
            bottom: calc( -1 * (#{$gap} - 1px) / 2 );
        } @else if $position == 'top' {
            top: calc( -1 * (#{$gap} - 1px) / 2 );
        } @else if $position == 'left' {
            top: 0;
            width: 1px;
            height: 100%;
            left: calc( -1 * (#{$gap} - 1px) / 2 );
        } @else if $position == 'right' {
            top: 0;
            width: 1px;
            height: 100%;
            right: calc( -1 * (#{$gap} - 1px) / 2 );
        } @else {
            @error 'Invalid position value.';
        }
    }
}
